.all
  position: relative
  padding-bottom: 303px
  &-wave
    position: absolute
    width: 100%
    bottom: -3px
    left: 0
    right: 0
  &-top
    margin-bottom: 48px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    &__title
      margin-bottom: 7px
    &__text
      max-width: 602px
    &__button
      margin-top: -9px
      margin-right: 17px
  &-cards
    &__top
      margin-bottom: 30px

    