.all
  &-top
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    &__title
      margin-bottom: 7px
    &__button
      margin-top: -9px
      margin-right: 17px
  &-cards
    