.top
  &__text
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: normal
    color: #5A7184
    &-top
      font-size: 20px
      line-height: 32px
      margin-bottom: 20px
    &-middle
      font-size: 16px
      line-height: 26px
      margin-bottom: 16px
    &-bottom
      font-size: 16px
      line-height: 28px
      &--mb104     
        margin-bottom: 104px
      &--mb10
        margin-bottom: 10px
      &--mb28
        margin-bottom: 28px
  &__personal
    margin-bottom: 40px
    z-index: 0
    display: flex
  &__img
    margin-right: 12px
    width: 40px
    height: 40px
    border-radius: 50%
  &__avatar
    margin-right: 12px
    width: 40px
    height: 40px
    border-radius: 50%
  &__author
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    margin-right: auto
  &__name
    font-family: Open Sans, sans-serif
    font-weight: 600
    font-size: 16px
    line-height: 22px
    margin-bottom: 4px
    color: $light
  &__verified
    display: flex
    margin-right: 8px
  &__check
    margin-right: 8px
  &__name
    color: $dark-blue
  &__icon
    width: 16px
  &__description
    font-family: Open Sans, sans-serif
    color: $dark-grey
    font-style: italic
    font-weight: normal
    font-size: 14px
    line-height: 19px
    white-space: nowrap
  &__date
    font-family: Open Sans, sans-serif
    align-items: center
    display: flex
    white-space: nowrap
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 20px
    color: #5A7184
  &__picture
    width: 100%
    height: 360px
    background-image: url('../img/details-top.png')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    border-radius: 16px
    margin-bottom: 12px
    &-text
      display: block
      font-family: Open Sans, sans-serif
      color: #5A7184
      text-align: center
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      margin-bottom: 20px
  &__title
    font-family: Roboto, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 48px
    color: #183B56
  &__subtitle
    font-family: Roboto, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 32px
    letter-spacing: 0.2px
    color: #183B56
    &--mb4
      margin-bottom: 4px
    &--mb16
      margin-bottom: 16px
    &--mb10
      margin-bottom: 10px

.details
  &__slider
    width: 100%
    min-height: 360px
    position: relative
    margin-bottom: 12px
    &-wrapper
      box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03)
      border-radius: 16px
      overflow: hidden
  &__button
    position: absolute
    top: 42.5%
    z-index: 99
    width: 55px
    height: 55px
    border: none
    cursor: pointer
    background-repeat: no-repeat
    background-position: center
    &--prev
      background-image: url('../img/slider-left.svg')
      left: -28px
    &--next
      background-image: url('../img/slider-right.svg')
      right: -25px
    &::active, &::focus
      outline: none
  &__slide  
    border-radius: 16px
    overflow: hidden
  &__card
    border-radius: 16px
    overflow: hidden
    display: flex
    min-height: 380px
    background-color: $light
  &__slide
    &-image
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
      &-1
        width: 750px
        height: 360px
        background-image: url('../img/details-slide-1.png')
      &-2
        width: 750px
        height: 360px
        background-image: url('../img/slide-1.png')

  