@media (max-width: 1200px)
  .top
    &__socials
      display: none
  .middle
    &__socials
      display: flex
      position: relative
      flex-direction: row
      max-width: 50%
      align-items: center
      justify-content: space-between
      margin-bottom: 30px