.details
  &-main__title
    max-width: 711px
    margin-top: 97px
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 72px
    text-align: center
    letter-spacing: 0.2px
    color: $light
    margin-left: 10px
    margin-left: 64px
  &-header
    background-image: url("../img/details-header.jpg") 
    min-height: 640px
    &-logo
      margin-left: -10px
    &-button
      margin-right: 9px

.top
  position: relative
  &__socials
    display: flex
    flex-direction: column
    height: 223px
    justify-content: space-between
    position: absolute
    left: 10.5%
    top: 2px
    &-link
      &_twitter
        padding-left: 9px
        padding-top: 6px
      &_facebook
        padding-left: 13px
      &_share
        padding-right: 3px
      &_linkdin
        padding-left: 10px
      &_instagram
        padding-left: 10px

  &__text
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: normal
    color: #5A7184
    &-top
      font-size: 20px
      line-height: 32px
      margin-bottom: 20px
    &-middle
      font-size: 16px
      line-height: 26px
      margin-bottom: 16px
      &--mb8
        margin-bottom: 8px
    &-bottom
      font-size: 16px
      line-height: 28px
      &--left
        text-align-last: left
      &--mb104     
        margin-bottom: 104px
      &--mb10
        text-align: left
        margin-bottom: 10px
      &--mb28
        text-align: left
        margin-bottom: 28px
        max-width: 749px
      &--mb36
        margin-bottom: 36px
  &__personal
    margin-bottom: 40px
    z-index: 0
    display: flex
    &--mobile
      display: none
  &__img
    margin-right: 12px
    width: 40px
    height: 40px
    border-radius: 50%
  &__avatar
    margin-right: 12px
    width: 40px
    height: 40px
    border-radius: 50%
  &__author
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    margin-right: auto
  &__name
    font-family: Open Sans, sans-serif
    font-weight: 600
    font-size: 16px
    line-height: 22px
    margin-bottom: 4px
    color: $light
  &__verified
    display: flex
    margin-right: 8px
  &__check
    margin-right: 8px
  &__name
    color: $dark-blue
  &__icon
    width: 16px
  &__description
    font-family: Open Sans, sans-serif
    color: $dark-grey
    font-style: italic
    font-weight: normal
    font-size: 14px
    line-height: 19px
    white-space: nowrap
  &__date
    font-family: Open Sans, sans-serif
    align-items: center
    display: flex
    white-space: nowrap
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 20px
    color: #5A7184
    &--mobile
      font-size: 10px !important
      line-height: 14px !important
      text-align: right 
  &__picture
    width: 100%
    height: 360px
    background-image: url('../img/details-top.png')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    border-radius: 16px
    margin-bottom: 12px
    &-text
      display: block
      font-family: Open Sans, sans-serif
      color: #5A7184
      text-align: center
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      margin-bottom: 20px
      &--mb48 
        margin-bottom: 48px
  &__title
    font-family: Roboto, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 48px
    color: #183B56
    letter-spacing: 0.2px
    &--mb24
      margin-bottom: 24px
  &__subtitle
    font-family: Roboto, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 32px
    letter-spacing: 0.2px
    color: #183B56
    &--mb4
      margin-bottom: 4px
    &--mb16
      margin-bottom: 16px
    &--mb10
      margin-bottom: 10px

.middle
  &__socials
    display: none

.details
  &__slider
    width: 100%
    min-height: 360px
    position: relative
    margin-bottom: 12px
    &-wrapper
      box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03)
      border-radius: 16px
      overflow: hidden
  &__button
    position: absolute
    top: 42.5%
    z-index: 99
    width: 55px
    height: 55px
    border: none
    cursor: pointer
    background-repeat: no-repeat
    background-position: center
    &--prev
      background-image: url('../img/slider-left.svg')
      left: -28px
    &--next
      background-image: url('../img/slider-right.svg')
      right: -25px
    &::active, &::focus
      outline: none
  &__slide  
    border-radius: 16px
    overflow: hidden
  &__card
    border-radius: 16px
    overflow: hidden
    display: flex
    min-height: 380px
    background-color: $light
  &__slide
    &-image
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
      &-1
        width: 750px
        height: 360px
        background-image: url('../img/details-slide-1.png')
      &-2
        width: 750px
        height: 360px
        background-image: url('../img/slide-1.png')
  &__search
    &-button
      padding: 9px 4px
      font-family: Open Sans, sans-serif
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
      text-align: center
      border-radius: 8px
      background-color: $primary
      color: #FFFFFF
      border: none
      cursor: pointer

.rectangle
  position: relative
  padding: 129px 64px 75px 64px
  margin-bottom: 116px
  background-color: #1565D8
  border-radius: 16px
  width: 100%
  min-height: 570px
  &__mobile
    display: none
  &__oval
    position: absolute
    top: 0
    right: 0
  // background-image: url('../img/oval.svg')
  &__quote
    width: 40px
    height: 46px
    position: absolute
    right: 50%
    top: 57px
    transform: translateX(50%)
  &__title
    font-family: Roboto, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 60px
    text-align: center
    letter-spacing: 0.09px
    color: #FFFFFF
    margin-bottom: 16px
  &__text
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 25px
    text-align: center
    color: #FFFFFF
  &__avatar
    border-radius: 8px
    width: 120px
    height: 120px
    position: absolute
    left: 50%
    bottom: -60px
    transform: translateX(-50%)

.details
  &__cards
    margin-bottom: 12px
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    &-left
      width: 48%
      &-1
        background-image: url('../img/details-card-left.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        height: 480px 
        border-radius: 16px
    &-right
      width: 48%
      display: flex
      flex-direction: column 
      justify-content: space-between
      height: 480px    
      &-1
        background-image: url('../img/details-card-right-1.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position: center center  
        height: 225px
        width: 360px
        border-radius: 16px
      &-2
        background-image: url('../img/details-card-right-2.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position: center center  
        height: 225px
        width: 360px
        border-radius: 16px

.bottom
  position: relative
  padding-bottom: 152px
  &__personal
    margin-bottom: 66px
    padding-top: 21px
    padding-bottom: 14px
    border-top: 1px solid #E5EAF4
    border-bottom: 1px solid #E5EAF4


.comments
  padding-bottom: 28px
  display: flex
  justify-content: space-between
  &__author
    display: flex
  &__avatar
    margin-right: 12px
  &__info
    display: flex
    flex-direction: column
  &__name
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: #183B56
  &__date
    font-family: Open Sans
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 20px
    color: #5A7184
  &__text
    border-radius: 0 8px 8px 8px
    max-width: 555px
    padding: 20px
    background-color: rgba(179, 186, 197, 0.15)
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 28px
    color: #5A7184
    &--mobile
      display: none
  &__bottom
    margin-top: 32px


.details__search
  width: 100%
  height: 64px
  margin-bottom: 109px
  border: 1px solid #E5EAF4
  &-button
    padding: 9px 4px
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #FFFFFF

.details__wave-dark
  bottom: -2px


.details__footer-wrapper

