.examples
  margin-bottom: 96px
  &-top
    margin-bottom: 48px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    &__title
      margin-bottom: 7px
    &__button
      margin-top: -9px
      margin-right: 17px
  &__slider-wrapper
.swiper-container
    max-height: 380px
    border-radius: 16px
    overflow: hidden
.slider-bottom-card