.footer
  margin-top: -1px
  background-color: #0D2436
  min-height: 668px
  &-wrapper
    padding-top: 130px
    padding-bottom: 72px
    border-top: 1px solid #1A3245
    display: flex
    justify-content: start
    flex-wrap: wrap
  &__logo
    margin-bottom: 25px
  &__info
    margin-right: 52px
    margin-left: -15px
    &-text
      margin-bottom: 32px
      display: block
      max-width: 240px
      font-family: Open Sans, sans-serif
      font-style: normal
      font-weight: normal
      font-size: 15px
      line-height: 28px
      color: #5A7184
    &-social
      max-width: 181px
      display: flex
      justify-content: space-between
      align-items: center
      margin-left: -3px
  &__menu
    max-width: 188px
    // &:not(:last-child)
    //   margin-right: 30px
    &-1
      margin-right: 82px
    &-2
      margin-right: 81px
    &-3
      margin-right: 7px
      li
        &:nth-child(4)
          margin-bottom: 11px
    &-4
      margin-right: 0
    &-title
      margin-bottom: 31px
      font-family: Open Sans, sans-serif
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 25px
      color: #5A7184
    &-item
      &:not(:last-child)
        margin-bottom: 24px
    &-link
      font-family: Open Sans, sans-serif
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 22px
      color: #959EAD
  &__copyright
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-right: 30px
    &-logo
      width: 56px
      margin-bottom: 24px
    &-text
      font-family: Open Sans,sans-serif
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: #5A7184






