.last
  &-top
    margin-bottom: 48px
  &-bottom
    display: flex
    justify-content: space-between
    &__card
      width: 32% !important
      &-left
        background-image: url('../img/last-card-left.jpg') !important
      &-center
      &-right