@media (max-width: 1300px)
  .subscribe__square-blue 
    right: -0%
    top: -10%

@media (max-width: 1200px)
  .container
    max-width: 960px

  .header
    &-middle
      &__wrapper
        width: 80%
      &__search
        &-form
          width: 100%
  
  .last
    &__personal
      &-center
        margin-top: 80px
      &-left
        margin-top: 50px
  
  .all
    &-top
      &__personal
        &-left
          margin-top: 33px
    &-bottom
      &__personal
        &-center
          margin-top: 45px
  
  .popular
    &-bottom
      &__personal
        &-left
          margin-top: 40px

  .examples
    &__slider
      width: 100%
    &__button
      &--next
        right: -5px
      &--prev
        left: -5px
  
  .subscribe
    &__card
      width: 370px
      margin-left: 20%
    &__square-blue 
      right: 7%
      top: -5%
    
  // .footer
  //   &-wrapper
  //   &__info
  //     margin-left: 0
  //     margin-bottom: 96px
  //     width: 27%
  //   &__menu
  //     &-1
  //       width: 27%
  //     &-2
  //       width: 30%
  //       margin-right: 0px
  //     &-3
  //       margin-right: 117px
  //     &-4
  //       width: 30%
  //   &__copyright
  //     padding-bottom: 96px
    

  .footer
    &-wrapper
      display: grid
      grid-template-columns: 30% 1fr 1fr 1fr 1fr
      grid-template-rows: 1fr  
      grid-gap: 20px
    &__info
      grid-column: 1/2
      grid-row: 1/2
      margin: 0
    &__menu
      margin: 0
      &-1
        grid-column: 2/3
      &-2
        grid-column: 3/4
      &-3
        grid-column: 4/5
      &-4
        grid-column: 5/6
      
    



@media (max-width: 992px)
  .container
    max-width: 700px
  .header
    &-top
      &__button
        margin-left: 20px
    &-bottom
      &__card
        flex-direction: column
      &__link
        width: 100%
      &__image
        height: 380px
      &__info
        width: 100%

  .popular
    &-top
      &__title
        font-size: 30px
        line-height: 38px
      &__text
        font-size: 16px
        line-height: 26px
    &-bottom
      &__offer
        font-size: 14px
        line-height: 20px
      &__title
        font-size: 27px    
        line-height: 34px
      &__personal
        &-left
          margin-top: 70px
  
  .last
    &-top
      &__title
        font-size: 30px
        line-height: 38px
      &__text
        font-size: 16px
        line-height: 26px
    &__title
        font-size: 22px
        line-height: 28px
    &__text
        font-size: 15px
        line-height: 24px
    &__personal
      flex-direction: column
      align-items: center
      &-left
        margin-top: 17px
      &-center
        margin-top: 40px
    &__avatar
      margin-right: 0
      margin-bottom: 5px
    &__img
      margin-right: 0
    &__name
      text-align: center
    &__author
      margin-right: 0


  .examples
    &__link
      width: 100%
    &__card
      flex-direction: column
    &__image
      height: 380px
    &__info
      width: 100%
    &__button
      top: 45.5%
      &--next
        right: -11px
      &--prev
        left: -11px
    &__title

  .all
    &-header
      &__title
        font-size: 30px
        line-height: 38px
      &__text
        font-size: 16px
        line-height: 26px
    &-top
      &__offer
        font-size: 14px
        line-height: 20px
      &__title
        font-size: 27px    
        line-height: 34px
      &__personal
        &-left
          margin-top: 66px
    &-bottom
      &__title
        font-size: 22px
        line-height: 28px
      &__text
          font-size: 15px
          line-height: 24px
      &__personal
        flex-direction: column
        align-items: center
        &-center
          margin-top: 40px
        &-right
          margin-top: 45px
      &__avatar
        margin-right: 0
        margin-bottom: 5px
      &__img
        margin-right: 0
      &__name
        text-align: center
      &__author
        margin-right: 0

  .subscribe
    padding-bottom: 96px
    &-wrapper
      flex-direction: column
    &-left
      width: 100%
      margin-bottom: 96px
    &-right
      width: 100%
  
  .footer
    padding-bottom: 96px
    &-wrapper
      padding-bottom: 50px
    &__menu
      &-3
        margin-right: 50px

  .footer
    &-wrapper
      display: grid
      grid-template-columns: 30% 1fr 1fr 1fr 1fr
      grid-template-rows: 1fr 1fr 
      grid-gap: 20px
    &__info
      grid-column: 1/2
      grid-row: 1/2
      margin: 0
    &__menu
      margin: 0
      &-1
        grid-column: 2/4
        grid-row: 1/2
      &-2
        grid-column: 4/6
        grid-row: 1/2
      &-3
        grid-column: 2/4
        grid-row: 2/3
      &-4
        grid-column: 4/6
        grid-row: 2/3




  
  .footer__copyright
    padding-bottom: 0

  .modal__dialog 
    overflow-y: auto
    max-height: 95%    


@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .header
    &-top
      position: relative
      &__button
        display: none
        // font-size: 14px
        // line-height: 16px
      &__menu
        display: none
        &--visible
          z-index: 99
          position: absolute
          display: flex
          flex-wrap: wrap
          align-items: center
          justify-content: space-around
          border-radius: 8px
          width: 100%
          height: 100%
          top: 80%
          background-color: #0D2436
          border: 1px solid #E5E5E5
        &-button
          margin-right: 9px
          margin-top: 5px
          display: flex
          width: 22px
          height: 17.7px
          padding: 0
          align-items: center
          justify-content: space-between
          flex-direction: column
          border: none
          cursor: pointer
        &-line
          width: 22px
          height: 2.2px
          background-color: #fff
          border-radius: 2px
        

    &-middle
      &__tag
        flex-wrap: wrap
        margin-top: 0
      &__popular
        margin-top: 16px
      &__link
        margin-top: 11px

    &-bottom

  .popular
    position: relative
    &-top
      &__button
        position: absolute
        left: 50%
        bottom: -70px
        transform: translateX(-50%)
    &-bottom
      flex-direction: column
      &__personal
        margin-top: 50px
      &__link
        &:not(:last-child)
          margin-bottom: 16px
      &__link
        width: 100%
      &__card
        &-left
          
  
  .last
    position: relative
    &-top
      &__text
      &__button
        position: absolute
        left: 50%
        bottom: -60px
        transform: translateX(-50%)
    &__wrapper
      flex-direction: column
    &__link
      width: 100%
      height: 320px
      margin-bottom: 20px
    &__card
      height: 100%
    &__text
      overflow-Y: auto
    &__personal
      margin-top: 20px
      flex-direction: row
      align-items: center
    &-center
      margin-top: 40px
    &__avatar
      margin-right: 12px
      margin-bottom: 5px
    &__img
      margin-top: 2px
      margin-right: 12px
    &__name
      text-align: center
    &__author
      margin-right: auto

  .examples
    position: relative
    &__header
      &-button
        position: absolute
        left: 50%
        bottom: -70px
        transform: translateX(-50%)


  .all
    &-top
      flex-direction: column
      &__personal
        margin-top: 20px
      &__link
        width: 100%
        &-left
          margin-bottom: 16px
    &-bottom
      flex-direction: column
      &__personal
        margin-top: 20px
      &__link
        width: 100%
        &:not(:last-child)
          margin-bottom: 16px

  .footer
    padding-bottom: 96px
    &-wrapper
      padding-bottom: 50px
    &__menu
      &-1
        margin-right: 35px
      &-4
        



@media (max-width: 576px)
  .container
    max-width: 90%
  
  .header
    &-top
      padding-top: 12px
      padding-bottom: 38px
      &__logo
        &-img
          width: 77px
          height: 24px
          margin-left: 6px

    &-middle
      &__title
        font-size: 32px
        line-height: 40px
        margin-top: 19px
        margin-bottom: 30px
      &__search
        padding-bottom: 75px
        &-form
          position: relative
          height: 48px
          margin-left: 5px
          width: 96%
          padding: 12px 8px 8px 18px
        &-input
          height: 100%
          &::placeholder
            font-size: 16px
            line-height: 22px
        &-icon
          margin-right: 8px
        &-button
          position: absolute
          left: 0
          top: 60px
          width: 100%
          padding: 13px 21px
      &__tag
        margin-top: 60px
        margin-left: 6px
      &__popular
        flex-basis: 100%
        font-size: 14px
        line-height: 20px
      &__link
        margin-right: 9px

    &-bottom
      &__card
        margin-top: -306px
      &__image
        height: 160px
      &__img
        margin-left: -3px
      &__info
        padding: 27px 20px 24px 18px
      &__offer
        text-transform: uppercase
        padding: 1px 15px 4px 11px
      &__title
        font-size: 20px
        line-height: 24px
        margin-top: 10px
        margin-bottom: 0
      &__text
        font-size: 14px
        line-height: 24px
        margin-bottom: 25px
      &__personal
        margin-bottom: -8px
      &__avatar
        width: 36px
        height: 36px
      &__name
        font-size: 14px
        line-height: 20px
        margin-bottom: 4px
      &__description
        font-size: 12px
        line-height: 16px
      &__verified
        &-text
          font-size: 12px
          line-height: 16px
      &__date
        font-size: 14px
        line-height: 20px
        margin-right: -3px
        margin-top: -4px


  .popular
    margin-top: 49px
    margin-bottom: 139px
    &-top
      margin-bottom: 32px
      &__button
        white-space: nowrap
        bottom: -72px
        padding: 7px 19px 7px 15px
        img
          margin-left: 4px
      &__title
        font-size: 24px
        line-height: 32px
        text-align: center
        margin-bottom: 12px
      &__text
        font-size: 11px
        line-height: 24px
        text-align: center
        max-width: 100%
        flex-basis: 100%
    &-bottom
      &__link
        &:not(:last-child)
          margin-bottom: 16px
      &__card
        min-height: 320px
        padding: 32px 23px 13px 20px
      &__offer
        margin-left: 0px
        margin-top: -12px
        padding: 2px 10px 2px 7px
      &__title
        font-size: 20px
        line-height: 24px
      &__personal
        &-left
          margin-top: 49px
        &-right
          margin-top: 8px
      &__avatar
        width: 36px
        height: 36px
      &__img
        width: 100%
        height: 100%
      &__name
        font-size: 14px
        line-height: 20px
        margin-bottom: 4px
      &__description
        font-size: 12px
        line-height: 16px
      &__verified
        &-text
          font-size: 12px
          line-height: 16px
      &__date
        font-size: 14px
        line-height: 20px
        margin-right: -3px
        margin-top: -8px


  .last
    margin-bottom: 107px
    &__link
      min-height: 320px
      &:not(:last-child)
          margin-bottom: 16px
    &-top
      margin-bottom: 7px
      &__button
        white-space: nowrap
        bottom: -64px
        padding: 7px 20px 7px 14px
        img
          margin-left: 8px
      &__title
        text-align: center
        font-size: 24px
        line-height: 32px
        margin-bottom: 2px
        letter-spacing: 0px
      &__text
        text-align: center
        font-size: 14px
        line-height: 24px
    &__card
      min-height: 320px
      padding: 40px 21px 15px 20px
    &__title
      font-size: 20px
      line-height: 24px
      &-left
        margin-bottom: 7px
      &-center
        margin-bottom: 10px
      &-right
        margin-bottom: 10px
    &__text
      font-size: 14px
      line-height: 21px
    &__personal
      &-left
        margin-top: 4px
      &-center
        margin-top: 22px
      &-right
        margin-top: 1px
    &__avatar
      width: 36px
      height: 36px
    &__img
      width: 100%
      height: 100%
      margin-top: 0
    &__name
      font-size: 14px
      line-height: 20px
      margin-bottom: 4px
      text-align: left
    &__description
      font-size: 12px
      line-height: 16px
    &__verified
      &-text
        font-size: 12px
        line-height: 16px
    &__date
      font-size: 14px
      line-height: 20px
      margin-right: -1px
      margin-top: -5px



  .examples
    margin-bottom: 102px
    &__header
      margin-bottom: 9px
      &-title
        font-size: 24px
        line-height: 32px
        text-align: center
        letter-spacing: 0.2px
        margin-right: 4px
        margin-bottom: 12px
      &-text
        font-size: 14px
        line-height: 24px
        text-align: center
      &-button
        white-space: nowrap
        padding: 7px 19px 7px 15px
        bottom: -60px
        left: calc( 50% - 5px )
        img
          margin-left: 8px
    &__button
      width: 40px
      height: 40px
      border-radius: 50%
      top: 30.5%
      &--prev
        right: -8px
      &--next
        right: -8px
    &__image
      height: 160px
    &__info
      padding: 24px 20px 24px 18px
    &__title
      font-size: 20px
      line-height: 24px
      margin-top: 10px
      margin-bottom: 0
    &__text
      font-size: 14px
      line-height: 24px
      margin-bottom: 25px
    &__avatar
      width: 36px
      height: 36px
    &__name
      font-size: 14px
      line-height: 20px
    &__description
      font-size: 12px
      line-height: 16px
    &__verified
      &-text
        font-size: 12px
        line-height: 16px
      &-date
        font-size: 14px
        line-height: 20px
        margin-top: -8px

  
  .all
    padding-bottom: 100px
    &__button
      display: none
      &-mobile
        display: flex
        padding: 8px 15px 8px 20px
    &-header
      margin-bottom: 15px
      &__title
        font-size: 24px
        line-height: 32px
        letter-spacing: 0.2px
        text-align: center
        margin-right: 7px
        margin-bottom: 12px
      &__text
        font-size: 14px;
        line-height: 24px
        text-align: center
        margin-bottom: 12px
        margin-right: 10px

    &-top
      margin-bottom: 16px
      &__link
      &__card
        min-height: 320px
        padding: 36px 21px 15px 18px
      &__offer
        margin-left: 0px
        margin-top: -12px
        padding: 2px 10px 2px 7px
      &__title
        font-size: 20px
        line-height: 24px
        letter-spacing: 0.2px
      &__personal
        &-left
          margin-top: 47px
        &-right
          margin-top: -1px
      &__avatar
        width: 36px
        height: 36px
      &__img
        width: 100%
        height: 100%
        margin-top: 0
      &__name
        font-size: 14px
        line-height: 20px
        margin-bottom: 4px
        text-align: left
      &__description
        font-size: 12px
        line-height: 16px
      &__verified
        &-text
          font-size: 12px
          line-height: 16px
      &__date
        font-size: 14px
        line-height: 20px
        margin-right: -1px
        margin-top: -5px

    &-bottom
      margin-bottom: 31px
      &__link
        &-right
          &--mobile
            display: block
      &__card
        min-height: 320px
        padding: 40px 20px 15px 20px
      &__title
        font-size: 20px
        line-height: 24px
        &-left
          margin-bottom: 8px
        &-center
          margin-bottom: 8px
      &__text
        font-size: 14px
        line-height: 24px
        &-left
          line-height: 22px
      &__personal
        flex-direction: row
        align-items: center
        &-left
          margin-top: 1px   
        &-center
          margin-top: 19px    
      &__avatar
        margin-right: 12px
        margin-bottom: 5px
        width: 36px
        height: 36px
      &__img
        margin-top: 2px
        margin-right: 12px
        width: 100%
        height: 100%
        margin-top: 0
      &__name
        font-size: 14px
        line-height: 20px
        margin-bottom: 4px
        text-align: left
      &__description
        font-size: 12px
        line-height: 16px
      &__verified
        &-text
          font-size: 12px
          line-height: 16px
      &__author
        margin-right: auto
      &__date
        font-size: 14px
        line-height: 20px
        margin-right: -1px
        margin-top: -5px
          
      

  .subscribe
    padding-bottom: 0
    &-wrapper
      min-height: 220px
    &-left
      margin-bottom: 87px
    &__offer
      font-size: 14px
      line-height: 20px
    &__title
      font-size: 24px
      line-height: 32px
      letter-spacing: 0.2px
      display: block
      max-width: 185px
      margin-left: 8px
      margin-top: 50px 
      margin-bottom: 8px   
    &__text
      display: block
      padding-top: 28px
      font-size: 14px
      line-height: 27px
      margin-left: 8px
    &__form
      flex-direction: column
      label
        top: 43px !important
        left: 10px !important
    &__input
      display: block
      min-height: 48px
      width: 95%
      margin-right: 0
      margin-bottom: 12px
      &::placeholder
        font-size: 16px
        line-height: 22px
    &__button
      width: 95%
      padding: 11px 49px
      font-size: 16px
      line-height: 26px
    &-right
      display: none


  .footer
    height: 683px
    padding-bottom: 0
    // &__totop
    //   bottom: 35%
    //   right: 10px
    //   padding: 5px 10px
    //   font-size: 10px
    //   line-height: 16px
    //   &-wrapper
    //     &--mobile
    //       display: flex
    //       grid-column: 5/6
    //       grid-row: 2/3
    //       align-self: end
    //     &--desktop
    //       display: none
    &-wrapper
      display: grid
      grid-template-rows: 1fr 209px 1fr
      padding-top: 0
      padding-bottom: 0
      border: none
    &__logo
      margin-bottom: 13px
      &-img
        width: 77px
        height: 24px
        // margin-left: 6px
        // margin-left: 0
        // margin-right: 0
        margin-top: -12px
    &__menu
      margin: 0
      &-1
        grid-column: 1/3
        margin-left: 5px
        // width: 125px
        // margin-left: 8px
        // margin-right: 0
        // margin-bottom: 19px
      &-2
        grid-column: 3/5
        margin-left: -5px
        // width: 70%
        // margin-right: 0px
      &-3
        grid-column: 1/3
        margin-top: 4px
        margin-left: 7px
        // width: 30%
        // margin-right: 36px
        // margin-left: 8px
      &-4
        grid-column: 3/5
        margin-top: 4px
        margin-left: -5px
        // width: 30%
      &-title
        margin-bottom: 20px
        font-size: 16px
        line-height: 22px
      &-item
        &:not(:last-child)
          margin-bottom: 15px
        &--mobile
          display: flex
        &--desktop
          display: none
      &-link
        font-size: 14px
        line-height: 20px
    &__info
      grid-row: 3/4
      grid-column: 1/6
      text-align: center
      // width: 27%
      // order: 1
      // flex-basis: 100%
      // justify-self: center
      // text-align: center
      // margin-right: 0
      // margin-bottom: 0
      &-text
        // display: block
        margin: 0 auto
        min-width: 263px
        font-size: 14px
        line-height: 28px
        padding-bottom: 23px
      &-social
        max-width: 181px
        margin: 0 auto
    &__copyright
      display: none
      padding-bottom: 96px

  .modal__dialog
    min-width: 300px
    padding: 33px 10%
      

  // .footer
  //   &-wrapper
  //   &__info
  //     margin-left: 0
  //     margin-bottom: 96px
  //     width: 27%
  //   &__menu
  //     &-1
  //       width: 27%
  //     &-2
  //       width: 30%
  //       margin-right: 0px
  //     &-3
  //       margin-right: 117px
  //     &-4
  //       width: 30%
  //   &__copyright
  //     padding-bottom: 96px
    



@media ( min-width: 992px )
  .header
    &-top
      &__menu
        &-link
          &:hover
            color: $primary
      &__button
        &:hover
          color: $primary
          border: 2px solid $primary
    &-middle
      &__search
        &-button
          &:hover
            color: $primary
            background-color: $light
            border: 2px solid $primary
            padding: 7px 19px
      &__link
        &:hover
          color: $primary
          border: 1px solid $primary
  
  .popular
    &-top
      &__button
        &:hover
          color: $light
          background-color: $light-grey

  .last
    &-top
      &__button
        &:hover
          color: $light
          background-color: $light-grey

  .examples
    &__header
      &-button
        &:hover
          color: $light
          background-color: $light-grey

  .all
    &__button
      &:hover
        color: $light
        background-color: $light-grey

  .subscribe
    &__button
      &:hover
        color: $primary
        background-color: $light
        border: 2px solid $light
        padding: 14px 47px

  .details
    &-search
      &-button
        &:hover
          background-color: $light
          color: $primary
          border: 2px solid $primary
          padding: 7px 2px

  .thankyou
    &__button
      &:hover
        color: $primary
        border: 2px solid $primary
  
  .footer
    &__menu
      &-link
        &:hover
          color: $light
    &__totop
      &:hover
        background-color: $light
        color: $primary

  .modal
    &__button
      &:hover
        color: $primary
        background-color: $light
        border: 2px solid $primary
        padding: 14px 47px

  .footer__info-img
    &:hover
      fill: #fff
      background-color: #fff


// @media ( min-width: 992px )
//   .hover-primary
//     text-decoration: none
//     font-style: normal
//     font-weight: normal
//     font-size: 14px
//     line-height: 160%
//     color: #BDBDBD
//     &:hover
//       color: $primary
//   .button
//     &:hover
//       background-color: #be9c9c
//   .navbar-menu__link
//     &:hover
//       color: $primary
//   .booking__num
//     &:hover
//       color: $primary
  // &:hover
  //         color: $light
  //         background-color: $dark-blue