@media (max-width: 1300px)
  .subscribe__square-blue 
    right: -0%
    top: -10%

@media (max-width: 1200px)
  .container
    max-width: 960px

  .header
    &-middle
      &__wrapper
        width: 80%
      &__search
        &-form
          width: 100%

  .examples
    &__slider
      width: 100%
    &__button
      &--next
        right: -5px
      &--prev
        left: -5px
    &__title

    &__text
  .subscribe
    &__card
      width: 370px
      margin-left: 20%
    &__square-blue 
      right: 7%
      top: -5%


@media (max-width: 992px)
  .container
    max-width: 700px
  .header
    &-top
      &__button
        margin-left: 20px
    &-bottom
      &__card
        flex-direction: column
      &__image
        height: 380px
      &__info
        width: 100%

  .popular
    margin-top: 580px
    &-top
      &__title
        font-size: 30px
        line-height: 38px
      &__text
        font-size: 16px
        line-height: 26px
    &-bottom
      &__offer
        font-size: 14px
        line-height: 20px
      &__title
        font-size: 27px    
        line-height: 34px
  
  .last
    &-top
      &__title
        font-size: 30px
        line-height: 38px
      &__text
        font-size: 16px
        line-height: 26px
    &__title
        font-size: 22px
        line-height: 28px
    &__text
        font-size: 15px
        line-height: 24px
    &__personal
      flex-direction: column
      align-items: center
      &-center
        margin-top: 40px
    &__avatar
      margin-right: 0
      margin-bottom: 5px
    &__img
      margin-right: 0
    &__name
      text-align: center
    &__author
      margin-right: 0


      

  .examples
    &__link
      width: 100%
    &__card
      flex-direction: column
    &__image
      height: 380px
    &__info
      width: 100%
    &__button
      top: 45.5%
      &--next
        right: -25px
      &--prev
        left: -25px
    &__title
        


@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .header
    &-top
      &__button
      &__menu
        display: none


// @media (max-width: 576px)


// @media ( min-width: 992px )
//   .hover-primary
//     text-decoration: none
//     font-style: normal
//     font-weight: normal
//     font-size: 14px
//     line-height: 160%
//     color: #BDBDBD
//     &:hover
//       color: $primary
//   .button
//     &:hover
//       background-color: #be9c9c
//   .navbar-menu__link
//     &:hover
//       color: $primary
//   .booking__num
//     &:hover
//       color: $primary