.modal
  &__overlay
    position: fixed
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 143, 223, 0.39)
    z-index: 100
    visibility: hidden
    opacity: 0
    transition: opacity 0.2s
    &--visible
      visibility: visible
      opacity: 1
  &__dialog
    position: fixed
    top: 50%
    left: 50%
    max-width: 478px
    padding: 33px 88px
    background-color: $dark-blue
    transform: translate(-50%, -50%)
    border-radius: 8px
    color: $light
    z-index: 101
    visibility: hidden
    opacity: 0
    transition: opacity 0.2s
    &--visible
      visibility: visible
      opacity: 1
  &__close
    position: absolute
    right: 18px
    top: 17px
    text-decoration: none
    cursor: pointer
  &__title
    font-family: Open Sans, sans-serif
    margin-top: 0px
    margin-bottom: 15px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    text-align: center
  &__input
    position: relative
    height: 50px
    width: 100%
    margin-top: 15px
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    border-radius: 4px
    padding-left: 10px
    // padding-bottom: 10px
    &::placeholder
      font-family: Open Sans, sans-serif
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 22px
      color: #5A7184
      opacity: 0.75
    &-wrapper
      position: relative
  &__message
    font-family: Open Sans, sans-serif
    width: 100%
    min-height: 123px
    margin-top: 17px
    font-style: normal
    font-weight: normal
    border-radius: 4px
    padding: 7px
    resize: none
    color: #5A7184
    font-size: 14px
    line-height: 24px
    &::placeholder
      padding-top: 5px
      font-family: Open Sans, sans-serif
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 22px
      color: #5A7184
      opacity: 0.75
  &__button
    margin-top: 15px
    margin-right: 41px
    padding: 16px 49px
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    border-radius: 8px
    background-color: #1565D8
    color: #fff
    border: none
    cursor: pointer
  &__info
    display: block
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: $dark-blue
    margin-bottom: 15px
  
   
#name-error, #phone-error, #email-error
  position: absolute
  font-family: Roboto, sans-serif
  color: red
  font-style: italic
  font-size: 12px
  line-height: 22px
  top: 62px
  left: 0px
