.popular
  margin-top: 263px
  margin-bottom: 96px
  &-top
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    margin-bottom: 45px
    &__title
      margin-bottom: 15px
    &__text
      max-width: 60%
    &__button
      font-family: Open Sans, sans-serif
      border-radius: 8px
      padding: 11px 19px
      margin-top: -16px
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
  &-bottom
    display: flex
    justify-content: space-between
    &__link
      z-index: 10
      width: 48.5%
    &__card
      display: flex
      flex-direction: column
      padding: 32px 48px 42px 46px
      position: relative
      overflow: hidden
      border-radius: 8px
      min-height: 600px
      background-repeat: no-repeat
      background-size: cover
      background-position: center center
      &-left
        background-image: url('../img/popular-bottom__card-left.jpg')
      &-right
        background-image: url('../img/popular-bottom__card-right.jpg')
      &::before
        content: ''
        width: 100%
        height: 100%
        top: 0
        bottom: 0
        right: 0
        left: 0
        position: absolute
        background: linear-gradient(180deg, rgba(24, 59, 86, 0.0001) 0%, rgba(22, 49, 70, 0.453847) 45.38%, #152532 100%)
    &__offer
      margin-left: -16px
      align-self: start
      z-index: 1
    &__title
      display: block
      margin-top: auto
      font-family: Roboto, sans-serif
      font-size: 36px
      line-height: 48px
      font-weight: bold
      font-style: normal
      letter-spacing: 0.2px
      color: $light
      z-index: 1
    &__personal
      display: flex
      z-index: 0
      &-left
        margin-top: 76px
      &-right
        margin-top: 36px
    &__img
      margin-right: 12px
      width: 40px
      height: 40px
      border-radius: 50%
    &__avatar
      margin-right: 12px
      width: 40px
      height: 40px
      border-radius: 50%
    &__author
      font-family: Open Sans, sans-serif
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      margin-right: auto
    &__name
      font-family: Open Sans, sans-serif
      font-weight: 600
      font-size: 16px
      line-height: 22px
      margin-bottom: 0px
      color: $light
    &__verified
      display: flex
      margin-right: 8px
    &__check
      margin-right: 8px
    &__icon
      width: 16px
    &__description
      font-family: Open Sans, sans-serif
      color: $dark-grey
      font-style: italic
      font-weight: normal
      font-size: 14px
      line-height: 19px
      white-space: nowrap
    &__date
      font-family: Open Sans, sans-serif
      align-items: center
      display: flex
      white-space: nowrap
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $light-grey


    



      