.popular
  margin-top: 263px
  margin-bottom: 96px
  &-top
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    margin-bottom: 45px
    &__title
      margin-bottom: 15px
    &__text
      max-width: 60%
    &__button
      margin-top: -16px
  &-bottom
    display: flex
    justify-content: space-between
    &__card
      &-left
        background-image: url('../img/popular-bottom__card-left.jpg')
      &-right
        background-image: url('../img/popular-bottom__card-right.jpg')
    &__offer
      margin-left: -16px
      align-self: start
    &__title
      display: block
      margin-top: auto
      z-index: 1
    &__personal
      &-left
        margin-top: 73px
      &-right
        margin-top: 33px
    &__name
      color: $light
    



      