.subscribe 
  background-color: #0D2436
  &-wrapper
    min-height: 534px
    display: flex
    justify-content: space-between
    width: 50%
  &-left
  &__title
    margin-top: 66px
    margin-bottom: 48px
  &__form
    display: flex
    justify-content: space-between
    max-width: 494px
  &__input
    max-width: 320px
    height: 56px

